.signin{
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  font-size: 0.9rem;

    a{
      color: #999;
      transition: color 0.3s ease;
    }
}
.form-control-feedback{
  width: 25px;
  padding-right: 10px;
  vertical-align: center;
}
.form-control:focus {
  border-color: #cacaca;
  box-shadow: inset 0 0 1px #2199e8, 0 0 2px #2199e8;
}

.signin a:hover{
  color:#2199e8;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.callout{
  margin:0;
  color:#353535;
  @include span(12);

  span{
    color:#353535;
  }
  .error{
    color: #c51818;
  }
  .row{
    padding-bottom: 1rem;

    .col1{
      @include span(6);
      padding-left: 2rem;

      span{
        margin: 0;
        transition: color 0.3s ease;
        color: #999;
        text-align: center;
        text-decoration: none;
      }

      span:hover{
        color:#2199e8;
        transition: color 0.3s ease;
        text-decoration: underline;
      }
    }

    .col2{
      @include span(6 at 6);
      padding-right: 2rem;
        a{
          margin: 0;
          transition: color 0.3s ease;
          color: #999;
          float: right;
          text-decoration: none;
        }
      a:hover{
        color:#2199e8;
        transition: color 0.3s ease;
        text-decoration: underline;
      }
    }
  }
}

.columns p{
  text-align: center;
  color:#353535;
  margin-bottom: 1rem;
}
.button{
  margin: 0;
}

.alert{
  margin-top: 1rem;
}
